doctype html
html
   head
      title Museum
      meta(charset="utf-8")
      link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js')
      script(src='js/bootstrap.min.js')
   body.container-fluid
      ul.row#navigation(style='text-align: left')
         li.col
            a(href='/') Home
      .row
         .col-10
            h1.display-4 #{category}
            br
            form(action=`/addPost/${category}` method='POST')
               input.btn.btn-light(type="text", name=`${first}`, placeholder=`${first}` required) 
               input.btn.btn-light(type="text", name=`${second}`, placeholder=`${second}` required)
               button.btn.btn-warning(type='submit') Submit
